.header {
	background-color: $blue;
	&__body {
		padding: 16px;
	}
}

.youWant {
	&__row{
		color: $white;
		background-color: $blue;
		padding: 48px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$md3+px) {
		    padding: 16px;
		    justify-content: center;
		}
		&_header {
			margin-bottom: 8px;
			border-radius: 64px 64px 16px 16px;
			@media (max-width:$md3+px) {
			    border-radius: 32px 32px 16px 16px;
			}
		}
		&_footer {
			align-items: flex-end;
			border-radius: 16px 16px 64px 64px;
			@media (max-width:$md3+px) {
			    border-radius: 16px 16px 32px 32px;
			}
		}
	}
	&__col{
		padding: 16px;
	}	
}

.footer {
	&__row {
		border-radius: 64px 64px 0px 0px;
		background-color: $white;
		padding: 64px;
		display: flex;
		@media (max-width:$md3+px) {
		    flex-direction: column;
			flex-wrap: wrap;
		}
		@media (max-width:$md3+px) {
		    padding: 32px;
		    border-radius: 32px 32px 0px 0px;
		    text-align: center;
		}
	}
	&__links{
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		> :not(:last-child){
			margin-right: 16px;
		}
		@media (max-width:$md3+px) {
		    text-align: center;
		    margin-bottom: 16px;
		    justify-content: center;
		}
		@media (max-width:$md4+px) {
		    flex-direction: column;
		    > :not(:last-child){
				margin-right: 0px;
				margin-bottom: 16px;
			}
		}
	}
}
