.header {
	background-color: $blue;
	&__body {
		padding: 16px;
	}
}

///////////////////////////////////////////////////////////////////////////////

.fScreen {
	&__title {
		img{
			transform: translateY(-10px);
			@media (max-width:$md3+px) {
			    width: 80px;
			    height: 77px;
			}
		}
	}
	&__content {
		text-align: center;
	}
	&__row{
		margin-top: -32px;
		background-color: $white;
		display: flex;
		align-items: center;
		border-radius: 64px;
		padding: 32px 0;
		@media (max-width:930+px) {
		    flex-direction: column;
		    border-radius: 32px;
		}
	}
	&__col{
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px;
		text-align: center;
	}
	&__image0{
		@media (max-width:$md3+px) {
		    width: 361px;
		    height: 112px;
		}
		@media (max-width:400+px) {
		    width: 320px;
		    height: 99.26px;
		}
	}
	&__image1{
		transform: rotate(-10deg);
		margin: 16px 0;
	}
	&__image2{
		margin-top: 10px;
		transform: rotate(0deg);
	}
	&__image3{
		max-width: 100%;
		@media (max-width:930+px) {
			transform: rotate(90deg);
			padding: 64px 0;
		}
		@media (max-width:$md4+px) {
		    padding: 32px 0;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.whatIs {
	&__row {
		background: linear-gradient(180deg, #BBE7FF 0%, #FFF0BB 100%);
		@media (min-width:$md2+px) {
		    display: flex;
		}
	}
	&__text {
		flex: 0 0 52%;
		position: relative;
		z-index: 4;
	}
	&__links{
		display: flex;
		flex-wrap: wrap;
		margin: -16px;
		.btn{
			margin: 16px;
			@media (max-width:$md2+px) {
			    flex: 1;
			    white-space: nowrap;
			}
		}
	}
	&__imageContainer{
		flex: 0 0 50%;
		position: relative;
		@media (max-width:$md2+px) {
			margin-top: 48px;
			text-align: center;
		}
	}
	&__image{
		@media (min-width:$md2+px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@media (max-width:$md2+px) {
		    max-width: 100%;
		    height: auto;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.priceCalculated {
	&__body {
		background-color: $white;
	}
	&__row{
		display: flex;
		@media (max-width:869.55+px) {
		    flex-direction: column;
		}
	}
	&__col{
		padding: 16px;
		flex: 1;
		text-align: center;
		.label{
			margin-bottom: 16px;
			@media (min-width:869.55+px) and (max-width:1087+px) {
			    height: 93px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
		}
	}
	&__divider{
		flex: 0 0 29px;
		position: relative;
		display: flex;
		justify-content: center;
		p{
			position: relative;
			z-index: 3;
			background-color: #fff;
			color: $darkGray;
		}
		&:after{
			content: "";
			position: absolute;
			background-color: #E1E1E7;
			z-index: 2;
		}
		@media (max-width:869.55+px){
			p{
				padding: 0 10px;
			}
			&:after{
				top: 14px;
				left: 0;
				width: 100%;
				height: 3px;
			}
		}
		@media (min-width:869.55+px){
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			text-align: center;
			p{
				padding: 10px 0;
				transform: translateX(2px);
			}
			&:after{
				top: 0;
				left: 14px;
				width: 3px;
				height: 100%;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.ourSkills {
	overflow: hidden;
	&__row {
		margin: -16px -16px;
		display: flex;
		flex-wrap: wrap;
	}
	&__col {
		padding: 16px;
		flex: 1 1 50%;
	}
	&__card {
		height: 100%;
		@media (min-width:$md4+px) {
		    min-width: 360px;
		}
		@media (min-width:$md3+px) {
		    padding-right: 48px;
		}
		&_1 {
			background: linear-gradient(180deg, #C7EBFF 0%, #BFFFD5 100%);
		}
		&_2 {
			background: linear-gradient(180deg, #FFC7CA 0%, #DBBFFF 100%);
		}
	}
}

///////////////////////////////////////////////////////////////////////////////


.launchingDrops {
	&__body {
		background: linear-gradient(180deg, #FFD9E0 0%, #E2E7FF 100%);
	}
	&__row{
		margin: 0 -16px;
		display: flex;
		flex-wrap: wrap;
		&_2{
			@media (max-width:$md3+px) {
			    flex-wrap: wrap-reverse;
			}
		}
		&_4{
			margin: 0 -16px -16px -16px;
			@media (max-width:$md3+px) {
			    flex-wrap: wrap-reverse;
			}
		}
	}
	&__col{
		flex: 0 0 50%;
		padding: 16px;
		.btn{
			height: 100%;
		}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__arrow {
		&_1 {
			display: flex;
			@media (min-width:$md3+px) {
				align-items: flex-end;
				img{
					width: 66.17%;
				}
			}
			@media (max-width:$md3+px) {
				justify-content: center;
			    img{
			    	height: 160px;
			    	transform: rotate(90deg);
			    }
			}
		}
		&_2 {
			display: flex;
			@media (min-width:$md3+px) {
				align-items: flex-end;
				justify-content: flex-end;
				img{
					height: auto;
					width: 66.17%;
				}
			}
			@media (max-width:$md3+px) {
				justify-content: center;
				img{
			    	height: 122px;
			    	transform: matrix(0, -1, -1, 0, 0, 0);
			    }
			}
		}
		&_3 {
			display: flex;
			@media (min-width:$md3+px) {
				align-items: flex-end;
				img{
					height: auto;
					width: 31.25%;
				}
			}
			@media (max-width:$md3+px) {
				justify-content: center;
				img{
			    	height: 160px;
			    }
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.youWant {
	&__row{
		color: $white;
		background-color: $blue;
		padding: 48px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$md3+px) {
		    padding: 16px;
		    justify-content: center;
		}
		&_header {
			margin-bottom: 8px;
			border-radius: 64px 64px 16px 16px;
			@media (max-width:$md3+px) {
			    border-radius: 32px 32px 16px 16px;
			}
		}
		&_footer {
			align-items: flex-end;
			border-radius: 16px 16px 64px 64px;
			@media (max-width:$md3+px) {
			    border-radius: 16px 16px 32px 32px;
			}
		}
	}
	&__col{
		padding: 16px;
	}	
}

///////////////////////////////////////////////////////////////////////////////

.orderYourself {
	&__body {
		background-color: $white;
		overflow: hidden;
		text-align: center;
		> :not(:last-child){
			margin-bottom: 64px;
		}
	}
	&__card{
		display: inline-block;
		background-color: $black;
		color: $white;
		position: relative;
		padding: 16px 48px;
		border-radius: 24px;
		img{
			position: absolute;
			top: -46px;
			right: -110px;
			@media (max-width:582+px) {
				width: 104px;
				height: 101px;
				right: -52px;
			}
		}
	}
	&__list{
		max-width: 475px;
		padding: 64px 0;
		text-align: left;
		li:before{
			color: $black;
		}
	}
	&__wrapList{
		position: relative;
		max-width: 960px;
		display: flex;
		margin: 0 auto;
		justify-content: center;
	}
	&__img{
		position: absolute;
		top: -16px;
		left: 0px;
		bottom: -16px;
		width: 100%;
		height: 100%;
		object-fit: fill;
		@media (max-width:730+px) {
		    width: 620px;
		    left: 50%;
		    transform: translateX(-50%);
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width:$md3+px) {
	    align-items: flex-end;
	}
	z-index: 100;
	display: none;
	&.active{
		display: flex;
	}
	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__body{
		position: relative;
		z-index: 3;
		background-color: $white;
		border-radius: 64px;
		padding: 64px;
		@media (max-width:$md3+px) {
		    border-radius: 32px 32px 0px 0px;
		    padding: 32px;
		    width: 100%;
		    transform: translateY(100%);
		}
		&.show{
			@media (max-width:$md3+px) {
			    animation: show-popup 0.15s forwards 0s ease;
			}
		}
		&.hide{
			@media (max-width:$md3+px) {
			    animation: hide-popup 0.15s forwards 0s ease;
			}
		}
	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		@media (max-width:$md3+px) {
		    margin: -8px 0;
		}
	}
}

@keyframes show-popup {
	0% {transform: translateY(100%);}
 	100% { transform: translateY(0%);}
}

@keyframes hide-popup {
	0% {transform: translateY(0%);}
 	100% { transform: translateY(100%);}
}

.socials{
	flex: 1 1 auto;
	background-color: $lightGray;
	border-radius: 28px;
	padding: 32px;
	margin: 0 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width:$md3+px) {
		flex: 0 0 100%;
	    flex-direction: row;
	    margin: 8px 0px;
	    padding: 16px;
	}
	&:hover{
		text-decoration: none;
		background: rgba(136, 136, 158, 0.15);
	}
	&__text{
		margin-top: 16px;
		@media (max-width:$md3+px) {
		    margin: 0 0 0 16px;
		}
	}
	&__telegram{
		width: 100px;
		height: 100px;
		@media (max-width:$md3+px) {
		    width: 64px;
		    height: 64px;
		}
	}
	&__viber{
		background: #7360F2;
		border-radius: 28px;
		width: 100px;
		height: 100px;
		padding: 18px;
		img{
			width: 100%;
			height: 100%;
		}
		@media (max-width:$md3+px) {
		    width: 64px;
		    height: 64px;
		    border-radius: 16px;
		}
	}
	&__email{
		background: #2B2B42;
		border-radius: 28px;
		width: 100px;
		height: 100px;
		padding: 18px;
		img{
			width: 100%;
			height: 100%;
		}
		@media (max-width:$md3+px) {
		    width: 64px;
		    height: 64px;
		    border-radius: 16px;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.footer {
	&__body{
		@media (min-width:$md3+px) {
		    padding: 0 16px;
		}
	}
	&__row {
		border-radius: 64px 64px 0px 0px;
		background-color: $white;
		padding: 64px;
		display: flex;
		@media (max-width:$md3+px) {
		    flex-direction: column;
			flex-wrap: wrap;
		}
		@media (max-width:$md3+px) {
		    padding: 32px;
		    border-radius: 32px 32px 0px 0px;
		    text-align: center;
		}
	}
	&__links{
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		> :not(:last-child){
			margin-right: 16px;
		}
		@media (max-width:$md3+px) {
		    text-align: center;
		    margin-bottom: 16px;
		    justify-content: center;
		}
		@media (max-width:$md4+px) {
		    flex-direction: column;
		    > :not(:last-child){
				margin-right: 0px;
				margin-bottom: 16px;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////////