@charset "UTF-8";

@font-face {
  font-family: "FuturaPT-Demi";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Bold";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-ExtraBold";
  font-display: swap;
  src: url("../fonts/FuturaPT-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Book";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Light";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Medium";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Heavy";
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
section,
aside {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 360px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  padding: 24px 48px;
  border-radius: 99px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_white {
  background-color: #FFFFFF;
  color: #2B2B42;
}

.btn_white:hover {
  background: rgba(255, 255, 255, 0.8);
}

.btn_blue {
  background-color: #3F69FF;
  color: #FFFFFF;
}

.btn_blue:hover {
  background: rgba(63, 105, 255, 0.9);
}

.btn-2 {
  padding: 8px 48px;
  border-radius: 99px;
  background-color: #FFFFFF;
  font-weight: 700;
}

.btn-2:hover {
  background: rgba(255, 255, 255, 0.9);
}

.btn-3 {
  padding: 24px 48px;
  border-radius: 99px;
  font-weight: 700;
  background-color: #FFFFFF;
  color: #2B2B42;
}

.btn-3:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.9);
}

.padding-wrap {
  padding: 64px 16px;
}

.card-wrap {
  padding: 64px;
  border-radius: 64px;
}

.card-v1 {
  padding: 32px;
  background-color: #2B2B42;
  border-radius: 16px;
  color: #FFFFFF;
}

.card-v2 {
  border-radius: 28px;
  background-color: #2B2B42;
  padding: 26px;
  display: inline-block;
}

.card-v2 img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
}

.num {
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  color: #2B2B42;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 99px;
}

.dollar {
  padding: 2px 8px;
  color: #2B2B42;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

.label {
  padding: 17.5px;
  color: #FFFFFF;
  border-radius: 16px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.label_yellow {
  background-color: #FFC92B;
}

.label_green {
  background-color: #39E392;
}

.label_red {
  background-color: #FF3288;
}

.label_violet {
  background-color: #CC30FF;
}

.label-2 {
  padding: 16px 32px;
  color: #88889E;
  background-color: #F0F1F5;
  border-radius: 16px;
}

ul > :not(:last-child) {
  margin-bottom: 32px;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li:before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  margin-right: 16px;
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.6179 12.5593L16.9399 15.1593C16.123 15.4774 15.4769 16.1235 15.1588 16.9404L12.5588 23.6184C12.3604 24.1279 11.6396 24.1279 11.4412 23.6184L8.84122 16.9404C8.52312 16.1235 7.87703 15.4774 7.06006 15.1593L0.382107 12.5593C-0.127369 12.3609 -0.127369 11.64 0.382107 11.4417L7.06006 8.84171C7.87703 8.52361 8.52312 7.87751 8.84122 7.06055L11.4412 0.382596C11.6396 -0.126881 12.3604 -0.126881 12.5588 0.382596L15.1588 7.06055C15.4769 7.87751 16.123 8.52361 16.9399 8.84171L23.6179 11.4417C24.1274 11.64 24.1274 12.3609 23.6179 12.5593Z' fill='white'/%3E%3C/svg%3E");
}

ul.fill-black li:before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.6179 12.5593L16.9399 15.1593C16.123 15.4774 15.4769 16.1235 15.1588 16.9404L12.5588 23.6184C12.3604 24.1279 11.6396 24.1279 11.4412 23.6184L8.84122 16.9404C8.52312 16.1235 7.87703 15.4774 7.06006 15.1593L0.382107 12.5593C-0.127369 12.3609 -0.127369 11.64 0.382107 11.4417L7.06006 8.84171C7.87703 8.52361 8.52312 7.87751 8.84122 7.06055L11.4412 0.382596C11.6396 -0.126881 12.3604 -0.126881 12.5588 0.382596L15.1588 7.06055C15.4769 7.87751 16.123 8.52361 16.9399 8.84171L23.6179 11.4417C24.1274 11.64 24.1274 12.3609 23.6179 12.5593Z' fill='%232B2B42'/%3E%3C/svg%3E");
}

body {
  font-family: "Arial";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #2B2B42;
  background-color: #F0F1F5;
}

body a {
  color: inherit;
}

body a:hover {
  text-decoration: underline;
}

body button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

svg.w24 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 24px;
  height: 24px;
  display: block;
}

img,
video {
  -o-object-fit: cover;
     object-fit: cover;
}

.m-4 {
  margin: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.m-8 {
  margin: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.m-16 {
  margin: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.m-32 {
  margin: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-0 {
  padding: 0 !important;
}

.p-0-16 {
  padding: 0 16px;
}

.p-16-0 {
  padding: 16px 0;
}

.p-16-8 {
  padding: 16px 8px;
}

.p-8-16 {
  padding: 8px 16px;
}

.p-0-8 {
  padding: 0 8px;
}

.nlc-mb-16 > *:not(:last-child) {
  margin-bottom: 16px;
}

.nlc-mb-32 > *:not(:last-child) {
  margin-bottom: 32px;
}

.nlc-mr-8 > *:not(:last-child) {
  margin-right: 8px;
}

.posa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-trim {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.dn {
  display: none !important;
}

.o-h {
  overflow: hidden;
}

.ws-n {
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

.white {
  color: #FFFFFF;
}

.red {
  color: #FF3288;
}

.color-darkGray {
  color: #88889E;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fww {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-jcsb-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-jcc-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.header {
  background-color: #3F69FF;
}

.header__body {
  padding: 16px;
}

.fScreen__title img {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.fScreen__content {
  text-align: center;
}

.fScreen__row {
  margin-top: -32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 64px;
  padding: 32px 0;
}

.fScreen__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  text-align: center;
}

.fScreen__image1 {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin: 16px 0;
}

.fScreen__image2 {
  margin-top: 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fScreen__image3 {
  max-width: 100%;
}

.priceCalculated__body {
  background-color: #FFFFFF;
}

.priceCalculated__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.priceCalculated__col {
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.priceCalculated__col .label {
  margin-bottom: 16px;
}

.priceCalculated__divider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29px;
          flex: 0 0 29px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.priceCalculated__divider p {
  position: relative;
  z-index: 3;
  background-color: #fff;
  color: #88889E;
}

.priceCalculated__divider:after {
  content: "";
  position: absolute;
  background-color: #E1E1E7;
  z-index: 2;
}

.ourSkills {
  overflow: hidden;
}

.ourSkills__row {
  margin: -16px -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourSkills__col {
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.ourSkills__card {
  height: 100%;
}

.ourSkills__card_1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#C7EBFF), to(#BFFFD5));
  background: -o-linear-gradient(top, #C7EBFF 0%, #BFFFD5 100%);
  background: linear-gradient(180deg, #C7EBFF 0%, #BFFFD5 100%);
}

.ourSkills__card_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC7CA), to(#DBBFFF));
  background: -o-linear-gradient(top, #FFC7CA 0%, #DBBFFF 100%);
  background: linear-gradient(180deg, #FFC7CA 0%, #DBBFFF 100%);
}

.launchingDrops__body {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD9E0), to(#E2E7FF));
  background: -o-linear-gradient(top, #FFD9E0 0%, #E2E7FF 100%);
  background: linear-gradient(180deg, #FFD9E0 0%, #E2E7FF 100%);
}

.launchingDrops__row {
  margin: 0 -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.launchingDrops__row_4 {
  margin: 0 -16px -16px -16px;
}

.launchingDrops__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 16px;
}

.launchingDrops__col .btn {
  height: 100%;
}

.launchingDrops__arrow_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.launchingDrops__arrow_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.launchingDrops__arrow_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.youWant__row {
  color: #FFFFFF;
  background-color: #3F69FF;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youWant__row_header {
  margin-bottom: 8px;
  border-radius: 64px 64px 16px 16px;
}

.youWant__row_footer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 16px 16px 64px 64px;
}

.youWant__col {
  padding: 16px;
}

.orderYourself__body {
  background-color: #FFFFFF;
  overflow: hidden;
  text-align: center;
}

.orderYourself__body > :not(:last-child) {
  margin-bottom: 64px;
}

.orderYourself__card {
  display: inline-block;
  background-color: #2B2B42;
  color: #FFFFFF;
  position: relative;
  padding: 16px 48px;
  border-radius: 24px;
}

.orderYourself__card img {
  position: absolute;
  top: -46px;
  right: -110px;
}

.orderYourself__list {
  max-width: 475px;
  padding: 64px 0;
  text-align: left;
}

.orderYourself__list li:before {
  color: #2B2B42;
}

.orderYourself__wrapList {
  position: relative;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderYourself__img {
  position: absolute;
  top: -16px;
  left: 0px;
  bottom: -16px;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  display: none;
}

.popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__body {
  position: relative;
  z-index: 3;
  background-color: #FFFFFF;
  border-radius: 64px;
  padding: 64px;
}

.popup__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}

@-webkit-keyframes show-popup {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes show-popup {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes hide-popup {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes hide-popup {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #F0F1F5;
  border-radius: 28px;
  padding: 32px;
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials:hover {
  text-decoration: none;
  background: rgba(136, 136, 158, 0.15);
}

.socials__text {
  margin-top: 16px;
}

.socials__telegram {
  width: 100px;
  height: 100px;
}

.socials__viber {
  background: #7360F2;
  border-radius: 28px;
  width: 100px;
  height: 100px;
  padding: 18px;
}

.socials__viber img {
  width: 100%;
  height: 100%;
}

.socials__email {
  background: #2B2B42;
  border-radius: 28px;
  width: 100px;
  height: 100px;
  padding: 18px;
}

.socials__email img {
  width: 100%;
  height: 100%;
}

.footer__row {
  border-radius: 64px 64px 0px 0px;
  background-color: #FFFFFF;
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links > :not(:last-child) {
  margin-right: 16px;
}

.text-huge {
  font-weight: 900;
  line-height: 120%;
  font-size: 72px;
}

.text-medium {
  font-weight: 900;
  line-height: 120%;
  font-size: 40px;
}

.text-default {
  line-height: 120%;
  font-size: 24px;
}

.text-small {
  line-height: 120%;
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

.lg-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#83CCFD), to(#45A0E6));
  background: -o-linear-gradient(top, #83CCFD 0%, #45A0E6 100%);
  background: linear-gradient(180deg, #83CCFD 0%, #45A0E6 100%);
}

.lg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF808A), to(#FF3344));
  background: -o-linear-gradient(top, #FF808A 0%, #FF3344 100%);
  background: linear-gradient(180deg, #FF808A 0%, #FF3344 100%);
}

.lg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE37E), to(#F0BC00));
  background: -o-linear-gradient(top, #FFE37E 0%, #F0BC00 100%);
  background: linear-gradient(180deg, #FFE37E 0%, #F0BC00 100%);
}

.lg-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#88E8E6), to(#3CC2BD));
  background: -o-linear-gradient(top, #88E8E6 0%, #3CC2BD 100%);
  background: linear-gradient(180deg, #88E8E6 0%, #3CC2BD 100%);
}

.lg-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#D766FF), to(#9600CC));
  background: -o-linear-gradient(top, #D766FF 0%, #9600CC 100%);
  background: linear-gradient(180deg, #D766FF 0%, #9600CC 100%);
}

.lg-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#1AD7FF), to(#00A5E6));
  background: -o-linear-gradient(top, #1AD7FF 0%, #00A5E6 100%);
  background: linear-gradient(180deg, #1AD7FF 0%, #00A5E6 100%);
}

.lg-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEAC75), to(#D59165));
  background: -o-linear-gradient(top, #EEAC75 0%, #D59165 100%);
  background: linear-gradient(180deg, #EEAC75 0%, #D59165 100%);
}

.lg-7 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7790), to(#F73558));
  background: -o-linear-gradient(top, #FF7790 0%, #F73558 100%);
  background: linear-gradient(180deg, #FF7790 0%, #F73558 100%);
}

.lg-8 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFDA7A), to(#F1A64D));
  background: -o-linear-gradient(top, #FFDA7A 0%, #F1A64D 100%);
  background: linear-gradient(180deg, #FFDA7A 0%, #F1A64D 100%);
}

.lg-9 {
  background: -webkit-gradient(linear, left top, left bottom, from(#64FFB5), to(#00A656));
  background: -o-linear-gradient(top, #64FFB5 0%, #00A656 100%);
  background: linear-gradient(180deg, #64FFB5 0%, #00A656 100%);
}

@media (min-width: 479.98px) {
  .ourSkills__card {
    min-width: 360px;
  }
}

@media (min-width: 767.98px) {
  .ourSkills__card {
    padding-right: 48px;
  }

  .launchingDrops__arrow_1 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .launchingDrops__arrow_1 img {
    width: 66.17%;
  }

  .launchingDrops__arrow_2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .launchingDrops__arrow_2 img {
    height: auto;
    width: 66.17%;
  }

  .launchingDrops__arrow_3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .launchingDrops__arrow_3 img {
    height: auto;
    width: 31.25%;
  }

  .footer__body {
    padding: 0 16px;
  }
}

@media (min-width: 869.55px) {
  .priceCalculated__divider {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    text-align: center;
  }

  .priceCalculated__divider p {
    padding: 10px 0;
    -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
  }

  .priceCalculated__divider:after {
    top: 0;
    left: 14px;
    width: 3px;
    height: 100%;
  }
}

@media (max-width: 992.98px) {
  .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 930px) {
  .fScreen__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fScreen__image3 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    padding: 64px 0;
  }
}

@media (max-width: 869.55px) {
  .priceCalculated__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .priceCalculated__divider p {
    padding: 0 10px;
  }

  .priceCalculated__divider:after {
    top: 14px;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    overflow: hidden;
    /* Выше 768 мы его убираем чтобы сработал 
position sticky у блока .stickyBlock */
  }

  .btn {
    padding: 24px;
  }

  .btn-3 {
    padding: 24px;
  }

  .padding-wrap {
    padding: 32px 0px;
  }

  .card-wrap {
    padding: 32px;
    border-radius: 32px;
  }

  .title-wrap {
    padding: 0 16px;
  }

  .md3-dn {
    display: none !important;
  }

  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .fScreen__title img {
    width: 80px;
    height: 77px;
  }

  .fScreen__image0 {
    width: 361px;
    height: 112px;
  }

  .launchingDrops__row_2 {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .launchingDrops__row_4 {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .launchingDrops__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .launchingDrops__arrow_1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .launchingDrops__arrow_1 img {
    height: 160px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .launchingDrops__arrow_2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .launchingDrops__arrow_2 img {
    height: 122px;
    -webkit-transform: matrix(0, -1, -1, 0, 0, 0);
        -ms-transform: matrix(0, -1, -1, 0, 0, 0);
            transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .launchingDrops__arrow_3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .launchingDrops__arrow_3 img {
    height: 160px;
  }

  .youWant__row {
    padding: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .youWant__row_header {
    border-radius: 32px 32px 16px 16px;
  }

  .youWant__row_footer {
    border-radius: 16px 16px 32px 32px;
  }

  .popup {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .popup__body {
    border-radius: 32px 32px 0px 0px;
    padding: 32px;
    width: 100%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }

  .popup__body.show {
    -webkit-animation: show-popup 0.15s forwards 0s ease;
            animation: show-popup 0.15s forwards 0s ease;
  }

  .popup__body.hide {
    -webkit-animation: hide-popup 0.15s forwards 0s ease;
            animation: hide-popup 0.15s forwards 0s ease;
  }

  .popup__row {
    margin: -8px 0;
  }

  .socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 8px 0px;
    padding: 16px;
  }

  .socials__text {
    margin: 0 0 0 16px;
  }

  .socials__telegram {
    width: 64px;
    height: 64px;
  }

  .socials__viber {
    width: 64px;
    height: 64px;
    border-radius: 16px;
  }

  .socials__email {
    width: 64px;
    height: 64px;
    border-radius: 16px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__row {
    padding: 32px;
    border-radius: 32px 32px 0px 0px;
    text-align: center;
  }

  .footer__links {
    text-align: center;
    margin-bottom: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .text-huge {
    font-size: 36px;
  }

  .text-medium {
    font-size: 30px;
  }
}

@media (max-width: 730px) {
  .orderYourself__img {
    width: 620px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 582px) {
  .orderYourself__card img {
    width: 104px;
    height: 101px;
    right: -52px;
  }
}

@media (max-width: 479.98px) {
  .md4-dn {
    display: none !important;
  }

  .fScreen__image3 {
    padding: 32px 0;
  }

  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__links > :not(:last-child) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

@media (max-width: 400px) {
  .fScreen__image0 {
    width: 320px;
    height: 99.26px;
  }
}

@media (min-width: 869.55px) and (max-width: 1087px) {
  .priceCalculated__col .label {
    height: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}